@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap');

h1{
    font-family: 'Nanum Pen Script', cursive;
    color: white;
    background-color:  rgba(13, 11, 128, 0.404);
}

body{
    background-color : grey;
    background-image : url('../img/pexels-mathias-reding-6672292.jpg');
    font-family: 'Loved by the King', cursive;
    color: blue;

    }

    #list {
       background-color:  rgba(212, 212, 224, 0.83)
    }